@import 'tailwindcss';

@theme inline {
  /* White and Black */
  --color-white000: #ffffff;
  --color-black000: #191d1f;

  /* Gray Scale */
  --color-gray100: #f2f4f8;
  --color-gray200: #e7ebef;
  --color-gray300: #dee2e6;
  --color-gray400: #ccd2d8;
  --color-gray500: #b5bbc1;
  --color-gray600: #3b3d40;

  /* Orange Scale */
  --color-orange100: #ffeeea;
  --color-orange200: #fee5e0;
  --color-orange300: #fdc9be;
  --color-orange400: #fa502e;
  --color-orange500: #f41e07;
  --color-orange-point: #fa502e;

  /* Main Gradient Colors */
  --color-main-gradient-start: #488bff;
  --color-main-gradient-end: #2150ec;
  --color-main-gradient: linear-gradient(
    to right,
    var(--color-main-gradient-start) 0%,
    var(--color-main-gradient-end) 100%
  );
}
