@import 'tailwindcss';

@theme inline {
  --font-pretendard: 'Pretendard', sans-serif;

  /* Display Styles */
  --font-displayLarge: 24px;
  --font-displayLarge--line-height: 30px;
  --font-displayLarge--font-weight: 700;
  --font-displayLarge--font-family: var(--font-pretendard);

  --font-displayMedium: 20px;
  --font-displayMedium--line-height: 24px;
  --font-displayMedium--font-weight: 700;
  --font-displayMedium--font-family: var(--font-pretendard);

  --font-displaySmall: 18px;
  --font-displaySmall--line-height: 24px;
  --font-displaySmall--font-weight: 700;
  --font-displaySmall--font-family: var(--font-pretendard);

  /* Headline Styles */
  --font-headlineLarge: 16px;
  --font-headlineLarge--line-height: 20px;
  --font-headlineLarge--font-weight: 700;
  --font-headlineLarge--font-family: var(--font-pretendard);

  --font-headlineMedium: 14px;
  --font-headlineMedium--line-height: 18px;
  --font-headlineMedium--font-weight: 700;
  --font-headlineMedium--font-family: var(--font-pretendard);

  --font-headlineSmall: 20px;
  --font-headlineSmall--line-height: 24px;
  --font-headlineSmall--font-weight: 500;
  --font-headlineSmall--font-family: var(--font-pretendard);

  /* Body Styles */
  --font-bodyLarge: 20px;
  --font-bodyLarge--line-height: 24px;
  --font-bodyLarge--font-weight: 400;
  --font-bodyLarge--font-family: var(--font-pretendard);

  --font-bodyMedium: 18px;
  --font-bodyMedium--line-height: 24px;
  --font-bodyMedium--font-weight: 400;
  --font-bodyMedium--font-family: var(--font-pretendard);

  --font-bodySmall: 16px;
  --font-bodySmall--line-height: 20px;
  --font-bodySmall--font-weight: 400;
  --font-bodySmall--font-family: var(--font-pretendard);

  /* Label Styles */
  --font-labelLarge: 14px;
  --font-labelLarge--line-height: 18px;
  --font-labelLarge--font-weight: 400;
  --font-labelLarge--font-family: var(--font-pretendard);

  --font-labelSmall: 12px;
  --font-labelSmall--line-height: 16px;
  --font-labelSmall--font-weight: 400;
  --font-labelSmall--font-family: var(--font-pretendard);
}
